header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;
  z-index: 11;
}
#userBtn {
  height: 60px;
  width: 60px;
  background: url(../img/user-btn.png) no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
#userBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  background: rgba(0, 0, 0, 0.4);
}
#userBox .userB {
  height: 100%;
  width: 50%;
  background: #ffffff;
}
footer {
  border-top: 1px solid #ecf1f5;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 60px;
}
footer ul {
  display: flex;
  height: 100%;
}
footer ul li {
  flex: 1;
  height: 100%;
  text-align: center;
}
footer ul li a {
  padding-top: 8px;
  margin-bottom: 8px;
  display: block;
  height: 100%;
  color: #3b68b8;
  font-size: 14px;
  background: url(../img/footer.png) no-repeat;
  line-height: 87px;
  background-size: 30px 545px;
}
footer ul .foot-icon-1 a {
  background-position: center 9px;
}
footer ul .foot-icon-1.active a {
  background-position: center -54px;
}
footer ul .foot-icon-2 a {
  background-position: center -132px;
}
footer ul .foot-icon-2.active a {
  background-position: center -204px;
}
footer ul .foot-icon-3 a {
  background-position: center -276px;
}
footer ul .foot-icon-3.active a {
  background-position: center -341px;
}
footer ul .foot-icon-4 a {
  background-position: center -421px;
}
footer ul .foot-icon-4.active a {
  background-position: center -491px;
}
